<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Mongoose News Scrapper</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/api/scrape">Scrape News</a></li>
      <li><a href="/api/clear">Clear News</a></li>
    </ul>
  </div>
</nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a href="/api/scrape">Scrape News</a></li>
  <li><a href="/api/clear">Clear News</a></li>
</ul>